@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.text-align-last-center {
  @apply text-center;
  text-align-last: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
h6 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-weight: 600;
  font-size: 8em;
  letter-spacing: -0.075em;
  white-space: nowrap;
}
h5 {
  margin: 0;
  padding: 2% 0;
  top: 0%;
  left: 50%;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: -0.075em;
  white-space: nowrap;
}
h4 {
  margin: 0;
  padding: 2% 0;
  top: 0%;
  font-weight: 600;
  font-size: 2em;
  letter-spacing: -0.075em;
  /* white-space: nowrap; */
}

/* .arrow-svg {
  width: 200px;
  height: 200px;
} */

.draw {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw-animation 3s ease infinite; /* Animate over 3 seconds */
}

/* Define the animation */
@keyframes draw-animation {
  to {
    stroke-dashoffset: 0; /* Stroke appears as dashoffset reduces to 0 */
  }
}
